<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
      
      
<div class="navigation-wrapper">
	<div class="site-name">
		<a href="/">Jeremy Barnes' Homepage</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        
				    
				    <li><a href="/about/" >About</a></li>
				
				    
				    <li><a href="/cv/" >CV</a></li>
				
				    
				    
				    <li><a href="/posts/" ></a></li>
				
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->

<div class="image-wrap">
  <img src="/downloads/mallorca.jpg" top="200" left="200" width="1000" height="300"
   alt=" feature image">
  
  </div><!-- /.image-wrap -->

			
			
<nav class="navigation right">
  <ul class="social expanded">

  <!-- Twitter -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="http://twitter.com/seb_ruder" title="@seb_ruder on Twitter">
      <i class='icon icon-social-twitter'></i>
      <span class="label">Twitter</span>
    </a>
	  </li>
	</ul>
	  </nav>
	
			
			<a href="http://twitter.com/roman_klinger" class="author-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>
      
      
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer> 
	    		 <ul> 
	        		<li><a href="mailto:jeremy.barnes@upf.edu">email</a></li> 
	        		<li><a href="https://github.com/jbarnesspain">github.com/jbarnesspain</a></li> 
			</ul> 
			 </footer> 
	
			
		</body>
</html>
