<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
      
      
<div class="navigation-wrapper">
	<div class="site-name">
		<a href="/">Roman Klinger's Homepage</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        
				    
				    <li><a href="/about/" >About</a></li>
				
				    
				    <li><a href="/projects/" >Projects</a></li>
				
				    
				    <li><a href="/people/" >People</a></li>
				
				    
				    <li><a href="/cv/" >CV</a></li>
				
				    
				    <li><a href="/publications/" >Publications</a></li>
				
				    
				    <li><a href="/poster/" >Posters</a></li>
				
				    
				    <li><a href="/talks/" >Talks</a></li>
				
				    
				    <li><a href="/data-sets/" >Data Sets</a></li>
				
				    
				    <li><a href="/stuff/" >Software</a></li>
				
				    
				    <li><a href="/teaching/" >Teaching</a></li>
				
				    
				    <li><a href="/posts/" ></a></li>
				
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
      
      
      
      
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer> 
	    		 <ul> 
	        		<li><a href="mailto:jeremy.barnes@upf.edu">email</a></li> 
	        		<li><a href="https://github.com/jbarnesspain">github.com/jbarnesspain</a></li> 
			</ul> 
			 </footer> 
	
			
		</body>
</html>
